* {
  box-sizing: border-box;
}

#header-nav {
  background: #002060;
  border-radius: 0;
  border: 0;
  min-height: 70px;
  padding-top: 20px;
  width: 100%;
}

.brand-heading {
  color: white;
  padding: 0px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 175%;
}

body {
  margin: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  font-family: poppins;
  background-color: white;
}

form {
  margin-top: 15px;
  margin-bottom: 15px;
}

.submit-button {
  color: #ecf0f3;
  margin-top: 20px;
  background: #002060;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  width: 93%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.dropdown-select {
  padding: 10px 15px;
  border-radius: 20px;
}

.session-form {
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  padding: 60px;
}

table {
  table-layout: fixed;
  width: 100%;
}

th,
td {
  word-wrap: break-word;
}
.react-datepicker__input-container input {
  width: 90%;
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding-left: 10px;
  height: 38px;
  margin: 12px;
}

.message {
  margin: auto;
  padding: 20px;
  font-size: 125%;
  color: red;
}

#info-message {
  color: #002060;
  margin-top: 20px;
}

.error {
  color: tomato;
}

/********** Large devices only **********/
@media (min-width: 1001px) {
  .col-lg-6 {
    float: left;
    width: 50%;
  }
}

/********** Medium devices only **********/
@media (max-width: 1000px) {
  .col-md-12 {
    float: left;
    width: 100%;
  }
}
