* {
  box-sizing: border-box;
}

#header-nav {
  background: #002060;
  border-radius: 0;
  border: 0;
  min-height: 70px;
  padding-top: 20px;
}

.brand-heading {
  color: white;
  padding: 0px;
  padding-left: 10px;
  font-weight: bold;
  /* text-align: center; */
  font-size: 175%;
}
/* .navbar-brand .brand-heading a:hover,
.navbar-brand .brand-heading a:focus {
  text-decoration: none;
} */

body {
  margin: 0;
  /* width: 100vw; */
  /* height: 100vh; */
  /* display: flex; */
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  /* overflow: hidden; */
  font-family: poppins;
  /* background: #ecf0f3; */
  background-color: white;
}

.submit-button {
  color: #ecf0f3;
  margin-top: 20px;
  background: #002060;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  width: 93%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  /* box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white; */
  /* transition: 0.5s; */
}

.dropdown-select {
  padding: 10px 15px;
  border-radius: 20px;
  /* text-transform: uppercase;
  font-weight: 400; */
}

.session-form {
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  /* width: 50%; */
  height: 500px;
  /* border-radius: 40px; */
  padding: 60px;
  /* box-sizing: border-box; */
  /* background: "white"; */
  /* background: #ecf0f3; */
  /* box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white; */
}

.react-datepicker__input-container input {
  width: 90%;
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding-left: 10px;
  height: 38px;
  margin: 12px;
}

/* .datePicker {
  width: 100%;
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
} */

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    /* border: 1px solid black; */
    width: 50%;
    /* height: 608px; */
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,
  .col-md-12 {
    float: left;
    /* height: 608px; */
    /* border: 1px solid black; */
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }
}
